main {
    padding-top: 0px;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: ;
    margin: 0 0 109px 0;
    text-align: center;
}

main .container {
    display: block;
    width: 1444px;
    padding: 0;
}

main .container h1 {
    width: 758px;
    margin: 100px 0 0 107px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    display: flex;
    color: #FF4081;
}

main .container p {
    width: 200px;
    margin: 12px 0 74px 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    align-items: center;
    color: #9D9D9D;
}

.conteudo-do-post {
    align-content: center;
    width: 1444px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.conteudo-do-post p {
    width: 1032px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
}

.conteudo-do-post h3 {
    width: 1032px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    color: #009688;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 0 0;
}

.container2 {
    padding: 75px 0 73px 0;
    display: flex;
    justify-content: space-between;
    box-sizing: content-box;
    background: #F7F7F7;
    width: 1440px;
}

main div .ilustraçãobuner {
    margin: 0 150px 0 0;
}

main div .investimento-iniciantes p {
    width: 364px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    color: #555555;
}

.cursos-investimentos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.link-curso {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 345px;
    margin: 0 0 116px;
}

.link-curso img {
    width: 345px;
    height: 342px;
    display: block;
    margin: 0 0 12px;
}

.link-curso span {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    text-transform: lowercase;
    margin: 0 0 24px;
    color: #FF4081
}

.link-curso p {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    text-transform: lowercase;
    margin: 0 0 24px;
    color: #000000;
}

.link-curso a {
    color: #ffffff;
    background: #FF4081;
    font-size: 20px;
    font-weight: 400;
    padding: 20px 43px;
    text-transform: lowercase;
    text-decoration: none;
    border-radius: 62px;
}

.conheça-nossos-cursos h4 {
    width: 528px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    display: flex;
    align-items: center;
    color: #FF4081;
}